.siteContent {
  height: 35px;
  max-height: 100%;
  background: "#ddd";
  background: linear-gradient(
    90deg,
    #f0f0f02b 25%,
    #f8f8f812 50%,
    #f0f0f02b 75%
  );
  background-size: 500px 100%;
  animation: shimmer 2s infinite;
  margin-top: 10px;
}

@media (max-width: 416px) {
  .siteContent {
    height: 40px;
  }
}

@keyframes shimmer {
  0% {
    background-position: -300px 0;
  }
  100% {
    background-position: 170px 0;
  }
}
