@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.rating span svg {
  display: inline-block !important;
}
.siteContent > h1 {
  font-size: 1.5em;
}
.siteContent > h2 {
  font-size: 1em;
  font-weight: 100;
}

.siteContent p {
  color: #fff;
}
a.blog-title {
  color: #fff;
}

a.blog-title:hover {
  color: #fff;
}

.categories li {
  list-style: outside;
  color: #fff;
}
/* .categories li:hover
{
  border-bottom: 1px solid #fff;
} */
.tag-cloud ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.tag-cloud ul li {
  border: 1px solid #ed135d;
  padding: 5px 10px;
  color: #ed135d;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 13px;
  font-weight: 500;
  text-transform: capitalize;
}
.tag-cloud ul li:hover {
  color: #fff !important;
  background: #ed135d;
}
.parent-loadbtn {
  text-align: center;
}
.loading-btn {
  background-color: #ed135d;
  padding: 15px;
  font-weight: 700;
  border-radius: 15px;
  margin-top: 20px;
}
