@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.box-main {
  background-color: #303030;
  padding: 10px;
  color: #fff;
}

.box {
  display: flex;
  gap: 20px;
  background-color: #000;
  width: 100%;
  border-radius: 10px;
}

.box-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.box-listing-wrapper {
  display: flex;
  gap: 30px 10px;
  flex-wrap: wrap;
  
}
.box-listing-wrapper li {
  width: calc(100%/3 - 10px);
  flex: 0 0 auto;
}
.box-listing-description {
  word-break: break-all;
}
.box-listing-wrapper .language {
  white-space: pre-line;
  width: 100%;
}
.box-listing-data {
  padding: 20px;
  background-color: #313131;
    border-radius: 10px;
}
.box-listing-box-heading {
  font-weight: 600;
  font-size: 14px;
}
.box-description{
  font-size: 16px;
  line-height: 20px;
}
.box-listing-description , .box-heading{
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}
.box-listing-tags {
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 30px;
}
.box-tag-data-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.box-tag-data-list li {
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #ab1243;
}
.side-images{
  display: block;
}
.side-images-mobile{
  display: none;
}
.rating span svg {
  display: inline-block !important;
}

.siteContent {
  padding: 10px;
}

.siteContent > h1 {
  font-size: 32px;
  display: flex;
  align-items: center;
  font-weight: 100;
}

.siteContent > h2 {
  font-size: 26px;
  font-weight: 100;
}

.siteContent > h3 {
  font-size: 24px;
}

.siteContent > h4 {
  font-size: 20px;
}

@media (max-width: 376px) {
  .siteContent {
    padding: 5px;
  }

  .siteContent > h1 {
    font-size: 11px;
  }

  .siteContent > h2 {
    margin-top: 2px;
    font-size: 9px;
    font-weight: 100;
  }
}

.siteContent > p {
  font-size: 16px;
  color: white;
}

a.blog-title {
  color: #fff;
}

a.blog-title:hover {
  color: #fff;
}

.categories li {
  list-style: outside;
  color: #fff;
}

/* .categories li:hover
{
  border-bottom: 1px solid #fff;
} */
.tag-cloud ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tag-cloud ul li {
  border: 1px solid #ed135d;
  padding: 5px 10px;
  color: #ed135d;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 13px;
  font-weight: 500;
  text-transform: capitalize;
}

.tag-cloud ul li:hover {
  color: #fff !important;
  background: #ed135d;
}

.parent-loadbtn {
  text-align: center;
}

.loading-btn {
  background-color: #ed135d;
  padding: 15px;
  font-weight: 700;
  border-radius: 15px;
  margin-top: 20px;
}

.Video-wrapper {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  background: rgba(169, 22, 50, 0.7);
  color: #fff;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.overlay {
  position: relative;
}

.overlay {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgb(255 255 255 / 0%) 0%, rgb(0 0 0) 95%);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.video-items:hover .overlay {
  height: 50px;
}

.overlay span {
  position: relative;
  z-index: 1;
}

.video-block img:hover,
.Video-wrapper:hover {
  opacity: 1;
}

.video-btn {
  padding: 15px 20px;
  background-color: black;
  border-radius: 20px;
}

.text-content {
  font-size: 15px;
  color: #ffffff;
  position: absolute;
  top: auto;
  left: 0px;
  right: 0;
  bottom: auto;
}

.video-icon {
  max-width: 72px;
  position: absolute;
  left: 50%;
  top: 50%;
  right: auto;
  bottom: auto;
  margin: auto;
  transform: translate(-50%, -50%);
}

/* tab css */
.nav.nav-tabs {
  border-bottom: none;
}

.subMenu {
  color: #fff;
}

.nav-tabs .nav-link {
  color: #ffffff;
  border: none !important;
  outline: none !important;
  border-width: inherit;
  margin: 0;
}

.nav-tabs .nav-link.active {
  border: none;
  outline: none;
  border-width: inherit;
  margin: 0;
  background-color: #d7d7d7 !important;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border: none;
  border-color: unset !important;
  color: #ffffff;
  border-width: inherit;
  outline: none;
}

.nav-item {
  width: 50%;
  text-align: center;
}

.bg-overlay {
  padding: 10px 0;
  position: absolute;
  padding: 10px 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.bg-overlay:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 15px;
  background: linear-gradient(180deg, rgb(255 255 255 / 0%) 0%, rgb(0 0 0) 96%);
}

.headlines {
  background-color: #151515;
}

.headlines h1 {
  font-weight: 400;
  padding: 0 0 20px;
  color: #fff;
  font-size: 2em;
  line-height: 32px;
  margin-bottom: 0;
}

.compliance_statement {
  color: #777;
  background-color: #000;
  padding-bottom: 20px;
  height: 100%;
}

.models_wanted_bg {
  padding: 30px 15px 60px;
}

.share_good_thing {
  color: #a91632;
  font-weight: 400;
  padding: 0 0 60px;
  font-size: 24px;
}

.earning_cam_models h3 {
  line-height: 32px;
  font-weight: 400;
  padding: 0 0 20px;
  font-size: 32px;
}

.earning_cam_models h4 {
  line-height: 32px;
  font-weight: 400;
  padding: 0 0 20px;
  font-size: 24px;
  color: #a91632;
}

.top_models_title {
  line-height: 24px;
  padding-bottom: 15px;
  padding-top: 30px;
  font-weight: 600;
}

.models_list_table_wrapper {
  padding-bottom: 35px;
  max-width: 1140px;
  margin: auto;
  overflow-x: auto;
}

.models_list thead tr th {
  position: relative;
  padding: 10px 15px;
  background-color: #a91632;
  color: #fff;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

.models_list tbody tr td {
  padding: 15px 15px;
  font-size: 36px;
  line-height: 40px;
  color: #fff;
  text-align: center;
}

.models_terms_conditions {
  font-size: 12px;
  margin-bottom: 20px;
}

.register_now_btn {
  background-color: #a91632;
  padding: 10px;
  border: 1px solid rgba(114, 114, 114, 0.4);
  border-radius: 3px;
  font-size: 33px;
}

.register_now_btn span {
  /* border-top: 1px solid rgba(255, 255, 255, 0.2); */
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  padding: 0 18px;
  line-height: 29px;
  color: #fff;
  font-weight: 700;
  display: block;
}

.product_feature_wrapper {
  color: #fff;
  font-size: 16px;
}

.product_feature {
  margin-bottom: 30px;
  padding: 15px;
}

.product_feature span {
  display: block;
  margin: 0 auto 5px;
  width: 96px;
  height: 96px;
  font-size: 95px;
  color: #333;
}

.product_feature h3 {
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  padding-bottom: 7px;
  font-weight: 400;
}

.product_feature_wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
  margin-bottom: 50px;
}

.product_feature_wrapper p {
  color: #fff;
}

.product_feature:hover span {
  color: #fff;
}

.register_now_small_btn {
  background-color: #a91632;
  border: 1px solid rgba(114, 114, 114, 0.4);
  border-radius: 3px;
  -moz-border-radius: 3px;
  box-shadow: 0 1px 0 rgba(114, 114, 114, 0.3);
  display: inline-block;
}

.register_now_small_btn span {
  padding: 0 18px;
  height: 29px;
  line-height: 29px;
  display: inline-block;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.models_text {
  font-size: 14px;
  padding: 0px 15px;
}

.product_feature_blockquote {
  text-shadow: none;
  font-family: "Nunito", sans-serif;
  padding: 15px 18px !important;
  border-left: 3px solid #a91632;
}

.product_feature_blockquote h4 {
  font-size: 19px;
  font-weight: 600;
  line-height: 24px;
}

.product_feature_blockquote p {
  display: block;
  margin-top: 3px;
  font-size: 15px !important;
  line-height: 22px;
  color: #fff;
}

.modelLink {
  display: inline-block;
  color: #fff;
  font-size: 14px;
  padding: 0 15px;
  font-weight: 700;
  line-height: 40px;
  background: #a91632;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.models_disclaimer_text {
  color: #777;
}

.models_disclaimer_text a {
  color: #a91632;
}

.page_main_bg {
  background-color: #000;
}

.models_search_wrapper {
  padding: 20px 15px 0;
}

.search_title {
  font-size: 40px;
  line-height: 50px;
  font-weight: 200;
  color: #fff;
}

.adult_group {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.adult_items a {
  display: block;
  padding: 5px 10px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 0;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 20px;
  transition: all 0.2s ease-in-out 0s;
}

.adult_items:first-child a {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.categories_box {
  margin-bottom: 30px;
}

.categories_title strong {
  font-size: 16px;
  padding: 8px;
  margin-bottom: 10px;
  display: inline-block;
  vertical-align: top;
  border-bottom: 1px solid #333;
  color: #f4f4f4;
  width: 100%;
  background-color: #1c1c1c;
}

ul.categories_group {
  padding: 0;
  margin: 0;
  list-style: none;
}

li.categories_items a {
  color: #cbc9c9;
  width: 100%;
  display: inline-block;
  font-size: 13px;
  line-height: 20px;
  padding: 2px 10px;
  background-color: #0d0d0d;
  margin-bottom: 10px;
  transition: all 0.2s ease-in-out 0s;
}

li.categories_items a:hover {
  background-color: #fff;
  color: #111;
  text-decoration: underline;
}
.side-images-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.side-images-wrapper a {
  flex-basis: 25%;
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
}
.side-images-wrapper a::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 42px;
  bottom: 0px;
  padding: 15px;
  background: linear-gradient(180deg, rgb(255 255 255 / 0%) 0%, rgb(0 0 0) 96%);
}
.related-models {
  overflow-y: auto !important;
}
.related-models::-webkit-scrollbar {
  display: none;
}
.model_details_container {
  max-width: 1600px;
  margin: auto;
  width: 100%;
}
.model-name {
  position: absolute;
  z-index: 2;
  left: 10px;
  bottom: 10px;
  color: #fff;
}

@media screen and (max-width: 850px) {
  .nav.nav-tabs {
    /* margin-top: 39px; */
  }
}

@media screen and (max-width: 767px) {
  .product_feature_blockquote {
    text-align: center;
  }

  .search_title {
    font-size: 32px;
    line-height: 45px;
  }
}

.padding_container {
  padding: 2% 10% 2% 10%;
  background-color: #3d3d3d;
}

.blog_span {
  text-transform: capitalize !important;
}

.video-thumb {
  border-radius: 5px;
}

/* table css*/
.model-tsyum-right {
  padding-bottom: 20px;
  height: 100%;
  display: table;
}
.model-tsyum-right ul li {
  width: 100%;
  float: left;
  color: #fff;
  /* border: 1px solid #383838; */
  border-bottom: 0;
  padding: 10px 20px;
}
.model-tsyum-right li .model-label {
  float: left;
  width: 140px;
}
.model-tsyum-right li .model-value {
  margin-left: 140px;
  float: none;
}
.model-tsyum-right li {
  width: 100%;
}
.model-tsyum-right li:nth-child(odd) {
  background-color: #282a2b !important;
}
.model-tsyum-right li:nth-child(even) {
  background-color: #000 !important;
}
@media screen and (max-width: 991px) {
  .model-tsyum-right {
    margin-top: 60px;
  }
}
@media (max-width: 767.5px) {
  .model-tsyum-right {
    margin-top: 0;
  }
  .box-listing-data{
    margin:10px 0;
  }
  .side-images {
    display: none;
  }
  .side-images-mobile{
    display: block;
    padding: 11px;
  }
}
