.PhotoPlaceholder {
  height: 175px;
  max-height: 100%;
  background: "#ddd";
  background: linear-gradient(90deg, #f0f0f0 25%, #f8f8f8 50%, #f0f0f0 75%);
  background-size: 500px 100%;
  animation: shimmer 2s infinite;
  margin-top: 10px;
}

@keyframes shimmer {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}
